{# site/layouts/hamburger-menu #}

<nav role="navigation" aria-label="main navigation" class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item" {# href="{{ '/' | url }} #}">{{ metadata.title }}</div>
    <div class="navbar-item is-hidden-tablet" href="#" onclick="navToggle('top-nav-menu')">Click to navigate&hellip;</div>
{%- for entry in collections.all | eleventyNavigation %}
    <a class="navbar-item is-hidden-mobile{% if entry.url == page.url %} is-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}  </div>
  <div class="navbar-menu is-hidden-tablet" id="top-nav-menu">
    <div class="navbar-start">

{%- for entry in collections.all | eleventyNavigation %}
      <a class="navbar-item{% if entry.url == page.url %} is-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}

    </div>
  </div>
</nav>

<script>
function navToggle(t){document.getElementById(t).classList.toggle("is-active")}
</script>
