{# site/includes/postlist.njk #}

<ul>

{% for page in (postslist | sortByLocation) %}
  {% set post = page.post %}

  <li>
    {# TODO: decide what to do with the breadcrumbs, if anything. #}
    {#
    {% for crumb in page.breadcrumbs %}
      <a href="{{ crumb.url }}" title="{{ crumb.text }}">&bull;</a>
    {% endfor %}
    #}
    <a href="{{ post.url | url }}" class="is-size-5 postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    {# Could have a tag for 'new' if it is new or 'updated' if updated recently
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    #}
    {% for itemtag in post.data.tags %}
      {%- if collections.tagList.indexOf(itemtag) != -1 and itemtag !== tag -%}
      {% set tagUrl %}/tags/{{ itemtag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="{{ site.tagClass }}">{{ itemtag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}

</ul>
