{# site/layouts/top-menu #}

<nav role="navigation" aria-label="main navigation" class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand{% if page.url == '/' %} is-active{% endif %}">
      <a class="navbar-item" href="{{ '/' | url }}">{{ metadata.title }}</a>

{%- for entry in collections.all | eleventyNavigation %}
      <a class="navbar-item{% if entry.url == page.url %} is-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}

    </div>
  </div>
</nav>
