---
permalink: /tags/
layout: home.njk
eleventyNavigation:
   key: Tags
   order: 2
---
<h1>Tags</h1>

<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li>
    <a href="{{ tagUrl | url }}" class="{{ site.tagClass }}">{{ tag }}</a>
    {{ tagmeta[tag].description }}
    ({{ collections[tag].length }})
  </li>
{% endfor %}
</ul>
