<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/prism/' + prism.theme + '.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/buefy/dist/buefy.min.css">
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9/css/bulma.css" -->

{% if hasVue %}
    <script async src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Full bundle -->
    <script async src="https://cdn.jsdelivr.net/npm/buefy/dist/buefy.min.js"></script>
    <script>window.addEventListener('load',function() {Vue && vueApp && new Vue(vueApp)})</script>
{% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">

  </head>
  <body>
    {# % include 'hamburger-menu.njk' % #}
    {% include 'plain-menu.njk' %}

    <section class="section py-0{% if templateClass %} {{ templateClass }}{% endif %}">
      <div class="container">
        {{ content | safe }}
      </div>
    </section>

    <footer
      class="footer has-text-centered is-size-7 py-1"
      ><a href="{{ '/about/#copyright' | url }}">Copyright © 2020 PBUK</a></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
