---
# This is used for 'home' pages for tags, latest posts etc.
# Note that these do NOT have a .content wrapper so headings, lists etc. are
# unstyled. Note also there is no main wrapper.
layout: base.njk
templateClass: tmpl-home
---

{{ content | safe }}
